:root {
    --primary: #28180A;
    --background: #191919;
    --slider: rgba(252, 191, 80, 0.877);
    --navbar-height: 80px;
}

/* Body */

body {
    margin-top: var(--navbar-height);
    background-color: #fdf2e9;
}


/* Boutons */

button {
    display: inline-block;
    background-color: #7E603B;
    border-radius: 20px;
    color: white;
    width: 150px;
    border: 1px solid white;
    position: relative;
    font-weight: 2;
    padding: 0.4rem;
}

button:hover {
    transition: 0.2s;
    background-color: #28180A;
}


/* Section article */

.bg-article {
    background-image: url(../assets/Img_Article/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 1200px;
}

.article {
    background-color: #fdf2e9;
    height: 96%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 40px;
}

.header-article {
    display: flex;
    justify-content: space-around;
}

.header-article div {
    margin: 20px;
}

.title {
    font-size: 3vw;
    font-weight: bold;
    padding-top: 20px;
}

.img-article img {
    max-width: 400px;
    width: 100%;
}

.content-article {
    text-align: justify;
    /* margin-left: 3%;
    margin-right: 3%; */
    margin: 3%;
}


/* Responsive */

@media only screen and (max-width: 700px) {

    body {
        padding-top: 80px;
    }

    button {
        width: 70px;
        padding: 0.3rem;
        font-size: 2vw;
    }
}