
@import url('https://fonts.googleapis.com/css2?family=Inknut Antiqua:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

:root {
    --primary: #28180A;
    --background: #191919;
    --bg-footer: #505050;
    --slider: rgba(252, 191, 80, 0.877);
    --navbar-height: 100px;
}

* {
    margin: 0;
}

/**** Footer ****/
footer {
    background-color: var(--bg-footer);
    background-image: url("../assets/Header-Footer/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer .container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Réseaux sociaux */
footer .container .social {
    margin: 10px 0 20px 0;
    width: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container .social a {
    text-decoration: none;
    color: white;
    font-size: calc(1rem + 1.5vw);
    margin: 0 20px 0 20px;
}

footer .container .ligne {
    width: 80%;
    background-color: white;
    height: 0.2em;
}

/* Links */
footer .container .links {
    width: 70%;
    margin: 10px 0 10px 0;
    /* background-color: red; */
}

footer .container .links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .container .links a {
    text-decoration: none;
    color: white;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: bold;
}

/* Images */
footer .container .logos {    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .container .logos a {
    text-decoration: none;
    color: white;
}

footer .container .logos img {
    padding: 10px;
}

footer .container .logos img.mcn {
    max-width: 180px;
    max-height: 120px;
    height: 100%;
    /* width: 100%; */
}

footer .container .logos img.unesco {
    max-width: 180px;
    max-height: 90px;
    height: 100%;
}

footer .container .logos img.iut {
    max-height: 60px;
    max-width: 180px;
}

/**** Footer - Responsive ****/
@media (max-width: 1200px) {
    footer {
        border-radius: 30px 30px 0 0;
    }
    footer .container {
        width: 90%;
    }

    footer .container .ligne {
        width: 100%;
    }

    footer .container .links a {
        font-size: calc(0.8rem + 0.8vw);
    }
}

@media (max-width: 800px) {
    footer {
        border-radius: 15px 15px 0 0;
    }

    footer .container .links ul {
        flex-direction: column;
        align-items: baseline;
    }

    footer .container .links li {
        position: relative;
        left: 10%;
    }
}