@import url('https://fonts.googleapis.com/css2?family=Inknut Antiqua:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

:root {
    --primary: #28180A;
    --background: #191919;
    --slider: rgba(252, 191, 80, 0.877);
    --navbar-height: 48px;
}

* {
    margin: 0;
}

/* Header */
nav {
    background-color: var(--primary);
    color: white;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .titre {
    font-size: calc(0.5rem + 1.5vw);
    text-decoration: underline;
    font-family: "Inknut Antiqua";
    padding: 0.2em 0 0 0;
    min-width: 200px;
}

/* Header - Menu */
nav .menu a.page {
    color: white;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 1.1em;
    background-image: linear-gradient(to right,
            var(--slider),
            var(--slider) 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 3px 5px;
    margin: 0 0.5em 0 0.5em;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
}

nav .menu a.page:before {
    content: '';
    background: var(--slider);
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0;
    height: 4%;
    transition: all 0.2s ease-in-out;
}

nav .menu a.page:hover {
    background-position: 0;
}

nav .menu a:hover::before {
    width: 100%;
} 

nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu li {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: calc(0.5rem + 0.8vw);
}

nav .menu i {
    margin: 0 0.5em 0 0;
}

nav .line {
    /* display: block; */
    width: 2px;
    height: 30px;
    border-radius: 50px;
    background-color: white;
    margin: 0 0.5em 0 0.5em;
}

/* Header - Langues */
nav .flag {
    display: none;
}

nav .langue a, .flag {
    text-decoration: none;
}

nav .langue img, .flag img {
    width: 2.5vw;
    margin: 5px;
}

/* Menu burger */
#icons {
    cursor: pointer;
    display: none;
}

@media (max-width: 1400px) {
    nav {
        justify-content: space-between;
        padding: 0 20px 0 20px;
    }
    #icons {
        display: block;
    }
    #icons:before {
        content: "\2630";
        font-size: calc(1.5rem + 4vw);
    }
    .active #icons:before {
        content: "\2715";
        font-size: calc(1.5rem + 2vw);
    }
    nav ul {
        position: fixed;
        left: -150%;
        top: 120px;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.5s;
        background-color: var(--primary);
        opacity: 0.9;
    }
    nav .flag {
        display: flex;
        flex-direction: row;
    }
    nav li {
        padding: 3px 0;
    }
    .langue {
        /* top: 5%;
        left: 35px;
        max-width: 200px; */
        display: none;
    }
    .line {
        display: none;
    }
    nav.active ul {
        left: 0;
    }
}