:root {
    --primary: #28180A;
    --background: #191919;
    --slider: rgba(252, 191, 80, 0.877);
    --navbar-height: 48px;
}

/* Body */

body {
    margin: 0;
    padding-top: 100px;
    background-color: #fdf2e9;
}


/* Header */

header #hautHeader {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

header #hautHeader #choixLangues, .boutonVisiter {
    display: flex;
    align-items: end;
}

header #hautHeader #titleHeader {
    display: flex;
}

#hautHeader a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 1.5em;
}


header {
    background-color: var(--primary);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header #menu_bar {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-evenly;
    margin-top: -1%;
    margin-bottom: -0.5%;
}

header #menu_bar a {
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    background-image: linear-gradient(to right,
            var(--slider),
            var(--slider) 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 3px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
}

header #menu_bar a:before {
    content: '';
    background: var(--slider);
    display: block;
    position: absolute;
    bottom: 25%;
    left: 0;
    width: 0;
    height: 4%;
    transition: all 0.2s ease-in-out;
}

header #menu_bar a:hover {
    background-position: 0;
}

header #menu_bar a:hover::before {
    width: 100%;
}


/* Boutons */

button {
    display: inline-block;
    background-color: #7E603B;
    border-radius: 20px;
    color: white;
    width: 150px;
    border: 1px solid white;
    position: relative;
    font-weight: 2;
    padding: 0.4rem;
}

button:hover {
    transition: 0.2s;
    background-color: #28180A;
}


/* Section timeline */

.box, ::before, ::after {
    box-sizing: border-box;
}

.box-timeline {
    width: 100%;
    position: relative;
    padding: 80px 0 250px 0;
    margin-bottom: 100px;
}

.ligne {
    height: 5680px;
    width: 8px;
    margin: 0 auto;
    background: #333;
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    border: 1px solid #000;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fdf2e9;
}

.r1{top: 80px;}
.r2{top: 430px;}
.r3{top: 780px;}
.r4{top: 1130px;}
.r5{top: 1480px;}
.r6{top: 1830px;}
.r7{top: 2180px;}
.r8{top: 2530px;}
.r9{top: 2880px;}
.r10{top: 3230px;}
.r11{top: 3580px;}
.r12{top: 3930px;}
.r13{top: 4280px;}
.r14{top: 4630px;}
.r15{top: 4980px;}
.r16{top: 5330px;}
.r17{top: 5680px;}

.box {
    color: #fdf2e9;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border: solid;
    border-radius: 10px;
    border-color: #181009;
    border-width: 10px;
    height: auto;
    background: #28180A;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.box img{
    width: 340px;
    height: 200px;
    border-radius: 10px;
    align-items: center;
}
.b1 {
    top: 80px;
    left: calc(50% - 470px);
}
.b2 {
    top: 430px;
    left: calc(50% + 70px);
}
.b3 {
    top: 780px;
    left: calc(50% - 470px);
}
.b4 {
    top: 1130px;
    left: calc(50% + 70px);
}

.b5 {
    top: 1480px;
    left: calc(50% - 470px);
}
.b6 {
    top: 1830px;
    left: calc(50% + 70px);
}
.b7 {
    top: 2180px;
    left: calc(50% - 470px);
}
.b8 {
    top: 2530px;
    left: calc(50% + 70px);
}
.b9 {
    top: 2880px;
    left: calc(50% - 470px);
}
.b10 {
    top: 3230px;
    left: calc(50% + 70px);
}
.b11 {
    top: 3580px;
    left: calc(50% - 470px);
}
.b12 {
    top: 3930px;
    left: calc(50% + 70px);
}

.b13 {
    top: 4280px;
    left: calc(50% - 470px);
}
.b14 {
    top: 4630px;
    left: calc(50% + 70px);
}
.b15 {
    top: 4980px;
    left: calc(50% - 470px);
}
.b16 {
    top: 5330px;
    left: calc(50% + 70px);
}
.b17 {
    top: 5680px;
    left: calc(50% - 470px);
}

.box p {
    line-height: 20px;
    font-size: 20px;
    margin: 10px 0 20px 0;
    text-align: justify;
}

.btn {
    display: block;
    font-weight: bold;
    background: #7E603B;
    padding: 10px;
    width: 120px;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
}

.btn:hover{
    background-color: #333;
}

@media screen and (max-width: 1000px) {

    .ligne {
        position: relative;
        left:200px;
    }
    .rond {
        left: calc(50% + 200px);
    }
    .box {
        left: calc(50% - 270px)
    }

}

/* Section Monarques */

.monarques {
    margin-top: 20%;
    background-color: var(--primary);
    color: white;
    padding: 5%;
}

.monarques p {
    position: relative;
    font-size: 2vw;
    font-weight: bold;
}

.monarques p::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 50%;
    height: 2px;
    opacity: 0.5;
    right: 5%;
}

.carrousel {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .4s ease-in;

    height: 800px;
    /* background-color: #fdf2e9; */
}
  
input[type=radio] {
    display: none;
}
  
.card {
    position: absolute;
    max-width: 39%;
    width: 100%;
    max-height: 500px;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}
  
.container {
    width: 100%;
    max-width: 800px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
  
.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
  
.monarques img {
    width: 100%;
    height: 100%;
    border: solid;
    border-width: 10px;
    border-color: #181009;
    border-radius: 10px;
    object-fit: cover;
    border-color: #181009;
}
  
#item-1:checked ~ .cards #song-4,
#item-2:checked ~ .cards #song-5,
#item-3:checked ~ .cards #song-1,
#item-4:checked ~ .cards #song-2,
#item-5:checked ~ .cards #song-3 {
    transform: translatex(-120%) scale(.6);
    z-index: -1;
}
  
#item-1:checked ~ .cards #song-5,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2,
#item-4:checked ~ .cards #song-3,
#item-5:checked ~ .cards #song-4 {
    transform: translatex(-60%) scale(.8);
    z-index: 0;
}
  
#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3,
#item-4:checked ~ .cards #song-4,
#item-5:checked ~ .cards #song-5 {
    transform: translatex(0) scale(1);
    z-index: 1;
    
    img {
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
}
  
#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-4,
#item-4:checked ~ .cards #song-5,
#item-5:checked ~ .cards #song-1 {
    transform: translatex(60%) scale(.8);
    z-index: 0;
}
  
#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-4,
#item-3:checked ~ .cards #song-5,
#item-4:checked ~ .cards #song-1,
#item-5:checked ~ .cards #song-2 {
    transform: translatex(120%) scale(.6);
    z-index: -1;
}
  
.footer-container {
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    height: 300px;
    padding: 16px 10px;
}
  
.scrolling-text {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
  
.text {
    font-size: 20px;
    width: calc(100% - 52px);
    display: block;
    color: black;
}
  
.info-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    transition: transform .4s ease-in;
}
  
.info-area label {
    padding-bottom: 300px;
}
  
#item-1:checked ~ .footer-container #test {
    transform: translateY(0);
}
  
#item-2:checked ~ .footer-container #test  {
    transform: translateY(-330px); /* Changer les valeurs une fois les textes finis */
}
  
#item-3:checked ~ .footer-container #test  {
    transform: translateY(-660px); /* Changer les valeurs une fois les textes finis */
}
  
#item-4:checked ~ .footer-container #test  {
    transform: translateY(-990px); /* Changer les valeurs une fois les textes finis */
}

#item-5:checked ~ .footer-container #test  {
    transform: translateY(-1320px); /* Changer les valeurs une fois les textes finis */
}


/* Footer */

footer {
    background-color: #505050;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: white;
}

footer div {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

#Images_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Images_footer img {
    padding: 10px;
}

#logoUnesco img {
    max-height: 80px;
    height: 100%;
}

#IUT img{
    max-height: 40px;
    height: 100%;
}

footer div h4 {
    position: relative;
}

footer div h4::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 80%;
    height: 3px;
    bottom: -80%;
}


/* Responsive */

@media only screen and (max-width: 700px) {
    body {
        padding-top: 80px;
    }


    #hautHeader #titleHeader {
        font-size: 2.8vw;
    }

    header #menu_bar {
        flex-wrap: wrap;
        margin-right: 5px;
        margin-left: 5px;
    }

    header #menu_bar p {
        font-size: 2vw;
    }

    button {
        width: 70px;
        padding: 0.3rem;
        font-size: 2vw;
    }
}
