:root {
    --primary: #28180A;
    --background: #191919;
    --slider: rgba(252, 191, 80, 0.877);
    --navbar-height: 80px;
}


body {
    background-image: url("../assets/Img_Infos/background.png");
    background-color: #28180A;
    margin-top: var(--navbar-height);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

h2{
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
    font-family: "Krona One", sans-serif;
}
hr{
    margin-left: 5%;
    margin-right: 5%;
}
.main{
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50px;
}

.sous-carrousel1{
    display: flex;
    flex-direction:row;
    align-items: center;
}

.sous-carrousel2{
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
}

.sous-carrousel1 a{
    margin-left: 3%;
    font-size: 20px;
    font-family: "Krona One", sans-serif;
    color: rgb(0, 0, 0); 
}

.sous-carrousel2 a{
    margin-right: 3%;
    font-size: 20px;
    font-family: "Krona One", sans-serif;
    color: rgb(0, 0, 0); 
}

@keyframes moveArrow1 {
    0% { transform: translateX(0); }
    50% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.sous-carrousel1 :hover {
    animation: moveArrow1 1.5s infinite;
    
}

@keyframes moveArrow2 {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

.sous-carrousel2 :hover {
    animation: moveArrow2 1.5s infinite;
}

.carousel-container3 {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;    
}

.carousel-slide3 {
    position: relative;
    transition: transform 0.3s ease;
}

.carousel-slide3:hover {
    transform: translateX(5px); 
}

.carousel-slide3{
    
    max-height: 200px;
    max-width: 100%;
    flex: 1 0 25%;
    aspect-ratio: 0.5;
    background-color: #7E603B;
    border-radius: 20px;
}

.carousel-slide3 img {
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}




