:root {
    --primary: #28180A;
    --background: #191919;
    --slider: rgba(252, 191, 80, 0.877);
    --navbar-height: 48px;
}

/* Body */

body {
    margin: 0;
    background-color: #fdf2e9;
}

body #CoeurCite, #title {
    color: white;
}


/* Header */
/* Partie de Julien pour le header, à supprimer aussi si besoin */

header {
    background-color: #28180a;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header #menu__bar {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-evenly;
}

header #menu__bar a {
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    background-image: linear-gradient(to right,
            var(--slider),
            var(--slider) 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 3px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
}

header #menu__bar a:before {
    content: '';
    background: var(--slider);
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;
}

header #menu__bar > a:hover {
    background-position: 0;
}

header #menu__bar > a:hover::before {
    width: 100%;
} 


/* Section "Titre" / Présentation */

#title {
    margin-top: 10%;
}


/* Boutons */

button {
    display: inline-block;
    background-color: #7E603B;
    border-radius: 20px;
    color: white;
    width: 150px;
    border: 2px double white;
    position: relative;
    font-weight: 2;
}

button:hover {
    transition: 0.2s;
    background-color: #28180A;
}


/* Section Au coeur de la cité */

#CoeurCite {
    background-color: #28180a;
}


/* Footer */

footer {
    background-color: #505050;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: white;
}

footer > div {
    flex: 1;
    margin: 10px;
}

#Images_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Images_footer img {
    padding: 10px;
}

footer div > h4 {
    position: relative;
}

footer div > h4::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 80%;
    height: 3px;
    bottom: -80%;
}
