:root {
    --primary: #28180A;
    --background: #191919;
    --slider: rgba(252, 191, 80, 0.877);
    --navbar-height: 48px;
}

/* Body */


body {
    margin: 0;
    background-color: #fdf2e9;
}


body #CoeurCite, #title {
    color: white;
}


/* Header */
/* Partie de Julien pour le header, à supprimer aussi si besoin */

header {
    background-color: #28180a;
    color: white;
    padding: 10px;
}

header #onglets {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-evenly;
}

header #onglets div > p {
    position: fixed;
}

header #onglets div > p::before {
    position: fixed;
    content: "";
    background-color: white;
    width: 100%;
    height: 1px;
    bottom: -50%;
}


.background {
    display: block;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu__bar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 16px;
    gap: 32px;
    background-color: var(--primary);
    height: 60px;
    opacity: 0.9;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 0px;
    background-color: var(--primray);
}


.navigation>li {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
}

.navigation>li>a {
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 500;
    background-image: linear-gradient(to right,
            var(--slider),
            var(--slider) 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 3px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
}

.navigation>li>a:before {
    content: '';
    background: var(--slider);
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;
}

.navigation>li>a:hover {
    background-position: 0;
}

.navigation>li>a:hover::before {
    width: 100%;
}

/* Boutons */

button {
    display: inline-block;
    background-color: #7E603B;
    border-radius: 20px;
    color: white;
    width: 150px;
    border: 2px double white;
    position: relative;
    font-weight: 2;
}

button:hover {
    transition: 0.2s;
    background-color: #28180A;
}


/* Section Au coeur de la cité */

#CoeurCite {
    background-color: #28180a;
}


/* Footer */

footer {
    background-color: #505050;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: white;
}

footer > div {
    flex: 1;
    margin: 10px;
}

#Images_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Images_footer img {
    padding: 10px;
}

footer div > h4 {
    position: relative;
}

footer div > h4::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 80%;
    height: 3px;
    bottom: -80%;
}
